body{
  background: #1f1e1e;
}


.title{
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family:fantasy
}

.tic{
  color: white;
}

.tac{
  color: red;
}

.toe{
  color: white;
}

.button{
  font-size: 23px;
  font-family: fantasy;
  color: red;
  background: #1f1e1e;
  cursor: pointer;
  border-radius: 30px;
  height: 80px;
  width: 120px;
}

.reset-home-button-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.display-winner{
  color: red;
  font-size: 40px;
  font-family: fantasy;
  margin-top: -170px;
  text-align: center;
}